/* Add your CSS here to style your valentines day page */
body {
    background-image: url("../images/background_wide.png");
}

nav ul {
    list-style: none;
    display: flex;
    background-color: none;
    justify-content: space-around;
    font-size: 50px;
}

ul :hover {
    color: black;
    background-color: pink;
    background-size: 0 10px;
}

h1 {
    justify-content: center;
    display: flex;
    font-size: 100px;
}

img {
    border: solid black 20px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 75px; 
    text-align: center;           
}

p {
    font-size: 50px;
    background-color: pink;
}